docker.runOptions = '-u $(id -u):$(id -g)'
docker.enabled = true

params {
referenceAnnotation = "$projectDir//data/reference/pfal3D7_new_reformatted.gtf"
reference = "$projectDir/data/reference/pfal3D7_modified.fa"
reads = "$projectDir/data/fastq/"
platform = "PacBio-Sequel2"
build = "PlasmoDB"
annotationName = "PlasmoDB_annot"
results = "Results"
}

process {
    withName:minimapMapping {
        container = 'staphb/minimap2'
    }
     withName:transcriptClean {
        container = 'talon1'
    }
    withName:annotator {
        container = 'talon1'
    }
    withName:genrateConfig {
        container = 'talon1'
    } 
    withName:talonLabelReads {
        container = 'talon1'
    }
    withName:initiateDatabase {
        container = 'talon'
    }
    withName:talonSummarize {
        container = 'talon1'
    }

    withName:talonFilterTranscripts {
        container = 'talon1'
    }
}

