params {
    input = "$projectDir/data/Plasmo/fastq/"
    samplesheetFileName = "samplesheet.csv"
    gtf = "$projectDir/data/Plasmo/reference/pfal3D7.gtf"
    fasta = "$projectDir/data/Plasmo/reference/pfal3D7_modified.fa"
    splitChunk = 10000
    platform = "Nanopore"
    build = "PlasmoDB"
    annotationName = "PlasmoDB"
    results = "Results"
    maxFracA = 0.5
    minCount = 5
    minDatasets = 2
}

docker {
    enabled = true
}
