docker.enabled = true

params {
    splitChunk = 100000
    referenceAnnotation = "$projectDir/data/Plasmo/reference/pfal3D7_new_reformatted_v1.gtf"
    reference = "$projectDir/data/Plasmo/reference/pfal3D7_modified.fa"
    reads = "$projectDir/data/Plasmo/fastq/"
    platform = "Nanopore"
    build = "PlasmoDB"
    annotationName = "PlasmoDB_annot"
    results = "Results"
    database = "$projectDir/data/database/${build}*.db"
    sraAccession = "$projectDir/data/sraList.tsv"
    local = true
}

